<header class="bg-primary w-full py-4 lg:py-0 lg:fixed lg:border-b-1 lg:border-black z-10">
  <div class="container">
    <div class="flex items-center justify-between">
      <% if (title == "首頁" ){ -%>
      <div class="lg:border-r-1 lg:py-8 lg:w-5/12 lg:border-black">
        <h1 class="w-21 h-4.5 lg:w-48 lg:h-10">
          <a href="./index.html" class="block bg-logo bg-center bg-no-repeat bg-cover w-full h-full"></a>
        </h1>
      </div>
      <% }else {-%>
      <a href="./index.html" class="bg-logo bg-center bg-no-repeat bg-cover w-21 h-4.5 lg:w-48 lg:h-10"></a>
      <% } -%>
      <div class="hidden lg:flex flex-1 h-full items-center justify-start px-12 py-10 border-r-1 border-black">
        <input type="text" placeholder="搜尋作品名稱、藝術家名稱" class="search-input w-full h-6 border-none bg-transparent text-base leading-6 p-0 mr-6">
        <i class="search-post-btn fas fa-search text-2xl leading-normal h-6 cursor-pointer"></i>
      </div>
      <div class="hidden lg:flex items-center w-3/12">
        <a href="./discover.html" class="hidden lg:block text-base leading-6 text-center font-bold border-r-1  border-black px-12 py-10">探索</a>
        <a href="#" class="hidden lg:block text-base leading-6 text-center font-bold border-r-1 border-black px-12 py-10">市值</a>
        <i class="hidden lg:block fas fa-wallet text-2xl leading-6 text-black text-right pl-10 py-10"></i>
      </div>
      <div class="nav-sm-item-wrapper flex justify-between items-center lg:hidden">
        <i class="hidden search-cancel-btn fas fa-chevron-left mr-4 cursor-pointer"></i>
        <input type="text" placeholder="搜尋作品名稱、藝術家名稱" class="search-input-1 hidden w-full border-none bg-transparent text-sm p-0">
        <div class="">
          <i class="search-input-btn fas fa-search text-lg leading-4 mr-6 cursor-pointer"></i>
          <i class="hidden search-post-btn-1 fas fa-search text-lg leading-4 cursor-pointer"></i>
          <i class="menu-btn fas fa-bars text-lg leading-4 cursor-pointer"></i>
        </div>
      </div>
    </div>
  </div>
</header>
<nav class="hidden nav-sm bg-transparent absolute w-full z-10">
  <div class="container bg-white border-y-1 border-black pb-6">
    <a href="./discover.html" class="block text-lg-1 font-bold text-center border-b-1 border-black py-6">探索</a>
    <a href="#" class="block text-lg-1 font-bold text-center py-6">市值</a>
    <a href="#" class="block bg-secondary text-white text-lg-1 text-center border-1 border-black py-3">連結錢包</a>
  </div>
  <div class="nav-sm-mask h-screen bg-black opacity-60"></div>
</nav>